/* General styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;

    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 1rem;
  }
  
  /* Header styles */
 
  
  /* Navbar styles */
  nav {
    background-color: #333;
    color: white;
    padding: 0.5rem;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 1rem;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }
  
  nav .navbar-toggle {
    background-color: white;
    color: #333;
    border: none;
    cursor: pointer;
  }
  
  nav .navbar-toggle:focus {
    outline: none;
  }
  
  nav .navbar-toggle:active {
    background-color: #ccc;
  }
  
  nav .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    color: rgb(0, 0, 0);
    padding: 1rem;
  }
  
  nav .navbar-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  
  nav .navbar-menu ul li {
    margin-bottom: 0.5rem;
  }
  
  nav .navbar-menu ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav .navbar-menu ul li a:hover {
    color: #ff0000;
  }
  
  /* Responsive styles */
  @media (min-width: 768px) {
    nav ul li:hover .navbar-menu {
      display: flex;
    }
  }
